<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="custom_promotion" frontName="custom_promotion">
            <module name="MaxSouza_CustomPromotion"/>
        </route>
    </router>
</config>
